In [1]:
import pandas as pd

In [2]:
filename = 'D:\Code\Discord bot\wipe -destiny-pc-lfg.csv'
dff = pd.read_csv(filename, index_col=None, header=0)

In [3]:
dff.head()

,AuthorID,Author,Date,Content,Attachments,Reactions
0,263138157178912768,supremeyeet#0069,26-Nov-17 12:32 AM,Anyone for PC Iron Banner?,NaN,NaN
1,109377329481940992,atonal440#1587,26-Nov-17 12:39 AM,"Too late for me, sorry",NaN,NaN
2,352892946980536321,Archaedes#3195,15-Jan-18 10:35 PM,Anyone for Nightfall?,NaN,NaN
3,231780266446815233,wpgjets92#0358,15-Jan-18 10:39 PM,May want to try pinging people for it with @here,NaN,NaN
4,352892946980536321,Archaedes#3195,15-Jan-18 10:41 PM,Well I didnt want to bug anyone who didnt play...,NaN,NaN

In [4]:
type(dff)

pandas.core.frame.DataFrame

In [10]:
print(dff.index)

RangeIndex(start=0, stop=38216, step=1)

In [47]:
validList = []
iter = 0
for row in dff.itertuples(index = True, name = 'Pandas'):
    try:
        iter += 1
        if('leveled up!**' in row.Content or 'Charlemagne' in row.Content or 'Charlemagne' in row.Author):
            continue
        #print(str(iter), row.Author[:-5], row.Content)
        validList.append([row.Author[:-5], row.Content])
    except:
        continue

In [52]:
df = pd.DataFrame(validList, columns=['Author', 'Content'])
df.head()

        Author                                            Content
0  supremeyeet                         Anyone for PC Iron Banner?
1    atonal440                             Too late for me, sorry
2    Archaedes                              Anyone for Nightfall?
3    wpgjets92   May want to try pinging people for it with @here
4    Archaedes  Well I didnt want to bug anyone who didnt play...

In [53]:
(df['Author'] + ' [SEP] ' + df['Content'] ).to_csv('gpt2_finetune.csv', index=False, header=True)

In [54]:
df['Content'].drop_duplicates().to_csv('gpt2_generate.csv', index=False, header=True)

In [55]:
df['real']=1

In [56]:
df[['Content','Author','real']].to_csv('bert_gan_real.csv', index=False, header=True)